# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=

# PayU
VITE_PAYU_MERCHANT_KEY=
VITE_PAYU_SALT=
VITE_PAYU_BASE_URL=https://secure.payu.in

# Backend API
VITE_API_URL=http://localhost:8080